# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* list popular languages for data science
* list commonly used libraries for data science
* list data scicence tools
* list some examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are: 
1. R
2. python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. caret
2. pandas
3. scikit-learn
4. Numpy

| Data Science Tools |
| --- |
| Rstudio |
| Jupyter Notebook |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
results = 200/60
print(results)

3.3333333333333335

## Author
Dai JA